{% extends 'layouts/base.html'%}

{% block header_content %}
  <h1 class="text-white pt-3 mt-n5">Delete position</h1>
{% endblock %}

{% block body_class %}
  <div class="container">
    <h1> Do you really want to delete this position</h1>
      <p>All tasks with this position <strong>{{ position }}</strong> will be also deleted  </p>
        <form action="" method="post" class="btn-group">
          {% csrf_token %}
          <input type="submit" value="Yes delete" class="btn btn-danger">
          <a href="{% url 'it_manager_app:position-list' %}" class="btn btn-info">Cancel</a>
        </form>
  </div>
{% endblock %}
