{% extends "layouts/base_background.html" %}

{% block content %}
  <h1>
  Hello Position
    <a style="float: right" href="{% url 'it_manager_app:position-create'%}">+</a>
  </h1>

  {% if position_list %}
     <table class="table">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>


    {% for position in position_list %}
      <tr>
        <td>
          {{ position.id }}
        </td>
        <td>
          {{ position.name }}
        </td>
        <td>
          <a href="{% url "it_manager_app:position-update" pk=position.id %}">Update</a>
        </td>
        <td>
          <a href="{% url "it_manager_app:position-delete" pk=position.id %}">Delete</a>
        </td>
      </tr>
    {% endfor %}
    </table>
  {% endif %}
{% endblock %}
