{% extends "layouts/base_background.html" %}
{% load crispy_forms_filters %}


{% block content %}
  <h1>
    Hello Tasks
      <a style="float: right" href="{% url 'it_manager_app:task-create'%}">+</a>
  </h1>

  {% include 'includes/search_form.html' %}

  {% if task_list %}
        <table class="table">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Deadline</th>
      <th>Completed</th>
      <th>Priority</th>
      <th>Task Type</th>
      <th>Your task</th>
    </tr>

    {% for task in task_list %}
      <tr>
        <td>
          <a href="{{ task.get_absolute_url }}">{{ task.id }}</a>
        </td>
        <td>
          {{ task.name }}
        </td>
        <td>
          {{ task.deadline }}
        </td>
        <td>
          {{ task.is_completed }}
        </td>
        <td>
          {{ task.Priority }}
        </td>
        <td>
          {{ task.task_type }}
        </td>
        {% if task in user.tasks.all %}
          <td>
            My Task
          </td>
        {% else %}
          <td>
            -
          </td>
        {% endif %}
      </tr>
    {% endfor %}
    </table>
  {% endif %}
{% endblock %}
