{% extends 'layouts/base.html'%}

{% block header_content %}
  <h1 class="text-white pt-3 mt-n5">Delete type of task</h1>
{% endblock %}

{% block body_class %}
  <div class="container">
    <h1> Do you really want to delete: <strong>{{ tasktype }}</strong></h1>
    <p>All tasks with this type will be also deleted </p>
    <form action="" method="post" class="btn-group">
      {% csrf_token %}
      <input type="submit" value="Yes delete" class="btn btn-danger">
      <a href="{% url 'it_manager_app:task_type-list' %}" class="btn btn-info">Cancel</a>
    </form>
  </div>
{% endblock %}
