{% extends "layouts/base_background.html" %}


{% block content %}
  <h1>Workers
        <a style="float: right" href="{% url 'it_manager_app:worker-create'%}">+</a>
  </h1>

  {% if worker_list %}

    <table class="table">
    <tr>
      <th>ID</th>
      <th>Full Name</th>
      <th>Username</th>
      <th>Position</th>
    </tr>

    {% for worker in worker_list %}
      <tr>
        <td>
          <a href="{{ worker.get_absolute_url }}">{{ worker.id }}</a>
        </td>
        <td>
          {{ worker.first_name }} {{ worker.last_name }}
        </td>
        <td>
          {{ worker.username }}
        </td>
        <td>
          {{ worker.position|default_if_none:"" }}
        </td>
      </tr>
    {% endfor %}
    </table>
  {% endif %}
{% endblock %}
