/* Змінити колір рамки для полів у формі */
.your-form-class .form-control {
    border-color: #100c01; /* Змініть колір на бажаний */
}
.textinput inputtext{
    border-color: red; /* Змініть колір на бажаний */
}
.class textinput inputtext form-control{
        border-color: red; /* Змініть колір на бажаний */
}