<ul class="sidebar-nav">
  {% if user.is_authenticated %}
    <li><strong>User: {{ user.username }}</strong></li>
    <li><a href="{% url 'logout' %}">Logout</a> </li>
  {% else %}
    <li><a href="{% url 'login' %}">Login</a></li>
  {% endif %}

  <br>
  <li> <a href="{% url 'it_manager_app:index' %}"%}> Home </a></li>
  <li> <a href="{% url 'it_manager_app:worker-list' %}">Workers</a> </li>
  <li> <a href="{% url 'it_manager_app:tasks-list' %}">Tasks</a> </li>
  <li> <a href="{% url 'it_manager_app:task_type-list' %}"> Type of Tasks </a></li>
</ul>